# See https://help.github.com/articles/about-codeowners/
# for more info about the CODEOWNERS file.
#
# Per-path component ownership is handled by Prow via OWNERS files.
# This file lists the downstream fork owners so that GitHub
# auto-requests reviews from the right people.

* @aneeshkp @anishasthana @acardace @dagrayvid @evacchi @Gregory-Pereira @hexfusion @kylape @madhugoutham @nainaz @RishabhSaini @tessapham @vMaroon @wseaton @zdtsw
